.sp-wrap {
  .other-works {
    padding-top: 32px;

    &__title {
      text-align: center;
    }

    &__list {
      margin: 0;
      padding: 24px 16px;
      list-style-type: none;
    }

    &__item {
      text-align: center;
    }

    &__link {
      display: block;
      color: #666;
    }

    &__work-title {
      font-size: 18px;
      line-height: 2;
    }

    &__writer {
      padding: 8px 0 24px;
      font-size: 16px;
    }
  }
}