@import '_mixin/util';
@import '_mixin/fontFace';

@include include-mplus('2m');

@keyframes linkButton {
  0% {
    width: 0;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 30px;
  }
}

%footer-box {
  width: 60%;
}

%header3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}

%link {
  color: #888;
  transition: 0.5s;
  &:hover {
    color: #333;
  }
}

body {
  // font-family: mplus, sans-serif;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 14px;
  color: #333;
  background: #e9e9e9;
  background-position: center;
  background-size: cover;
}

.top-page {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  z-index: 1;

  &__content {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &__section {
    @include centerize($top: 65px);
  }

  &__fullview-section {
    @include centerize();
  }
}

.art-page {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  z-index: 1;

  &__content {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &__section {
    @include centerize($top: 0);
  }

  &__fullview-section {
    @include centerize();
  }
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 32px;
  min-height: 65px;
  width: 100%;
  z-index: 100;
  background-color: #e9e9e9;
  border-bottom: 1px solid #ddd;

  &.--hide {
    display: none;
  }

  &-title {
    padding-right: 48px;
    padding-bottom: 4px;
    padding-left: 16px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-shadow: 1px 1px 1px #fff;
    border-left: 8px solid #666;
  }

  &-description {
    width: 100%;
    font-size: 14px;
    text-align: center;

    &__text {
      display: inline-block;
      padding: 4px 8px;
      vertical-align: middle;
      border: 1px solid #333;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    padding-right: 8px;
    margin: 0;
    list-style-type: none;
    border-right: 4px solid #666;

    &__item {
      display: block;
      font-size: 18px;
      line-height: 1;
      text-align: center;

      &:not(:first-child) {
        margin-left: 12px;
      }
    }

    &__link {
      position: relative;
      display: block;
      padding: 6px 10px;
      color: #888;
      text-decoration: none;
      transition: 0.5s;

      &::before,
      &::after {
        display: block;
        width: 0;
        height: 0;
        content: '';
      }

      &::before {
        @include centerize(0, 0, auto, auto);

        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
      }

      &::after {
        @include centerize(auto, auto, 0, 0);

        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
      }

      &:hover {
        color: #333;

        &::before,
        &::after {
          border-color: #333;
          animation-name: linkButton;
          animation-duration: 0.5s;
          animation-timing-function: ease-in-out;
          animation-direction: normal;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

.main {
  &-info {
    @include centerize(auto, 16px, 0, 16px);

    z-index: 3;
    display: flex;
    align-items: center;

    &__title {
      min-width: 7em;
      padding-bottom: 16px;
      padding-left: 1.5em;
      margin-top: -0.5em;
      font-size: 68px;
      font-style: italic;
      font-weight: 400;
      line-height: 1;
      text-indent: -1.5em;
      text-shadow: 1px 1px 1px #fff;
    }

    &__description {
      width: 100%;
      padding: 8px 16px 8px 32px;
      font-size: 16px;
      line-height: 1.5;
      border-left: 1px solid #666;
    }
  }

  &-visual {
    position: relative;
    height: calc(100% - (68px * 1.5) - 16px);
    overflow: hidden;

    &::before {
      @include centerize;

      z-index: 2;
      display: block;
      content: '';
      background-color: rgba(#fff, 0.15);
    }

    &__img {
      @include centerize(auto);

      z-index: 1;
    }
  }
}

.gallery {
  position: relative;
  display: flex;
  height: 100%;

  &__nav {
    position: relative;
    z-index: 10;
    width: 32%;
    min-width: 420px;
    height: 100%;
  }

  &__list {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  &__item {
    @include centerize($left: 20px);

    display: flex;
    align-items: center;
    width: 300px;
    height: 20px * 1.4 * 2;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.4;
    transform-origin: 0 50%;
  }

  &__content {
    position: relative;
    width: 68%;
    padding: 32px;
    background-color: #fefefe;
    border-left: 1px solid #ddd;
  }

  &__bg {
    @include centerize($top: 32px, $right: 32px, $bottom: 32px, $left: 32px);

    background-position: 50% 50%;
    background-size: cover;

    &::after {
      @include centerize();

      z-index: 1;
      content: '';
      background-color: rgba(#fff, 0.3);
    }
  }

  &__info {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
  }

  &__front-area {
    width: 60%;
    min-width: 390px;
    padding: 24px 32px;
    margin-top: 64px;
    background-color: rgba(#fff, 0.75);
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
  }

  &__synopsis {
    padding-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
  }

  &__artist {
    @include centerize($bottom: 32px, $top: auto, $right: auto);

    padding: 3px 18px;
    text-align: right;
    background-color: rgba(#fff, 0.75);
  }

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.article {
  @include centerize;
  height: 100%;
  padding: 0;
  transition: .5s;

  &.--show-footer {
    top: -100vh;
    bottom: auto;
  }

  &__header {
    width: 18px * 28;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  &__body {
    width: 18px * 28;
    margin: 0 auto;
  }

  &__line {
    position: relative;
    padding: 6px 0;
    min-height: (6px + 18px) * 2;
    font-size: 18px;
    line-height: 2;
    opacity: 0.3;
    transition: 0.3s;
    transform: scale(90%);

    &.--active {
      color: #333;
      opacity: 1;
      transform: scale(100%);
    }
  }

  &__footer {
    padding-top: 65px;
    height: 100%;
    background: #e2e2e2;
  }

  &__writer-info,
  &__other-works {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.writer-info {
  @extend %footer-box;

  &__title {
    @extend %header3;
  }

  &__contents {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &__icon {
    margin-left: 32px;
  }

  &__text {
    margin-left: 24px;
  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
  }

  &__bio {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  &__sns {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;

    &-item {
      font-size: 14px;
      display: inline-block;

      &:not(:first-child) {
        margin-left: 8px;
        &:before {
          display: inline-block;
          content: '/';
          margin-right: 8px;
        }
      }
    }
  }

  &__link {
    @extend %link;
  }
}

.other-works {
  @extend %footer-box;

  &__title {
    @extend %header3;
  }

  &__list {
    margin: 0 32px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 8px;
  }

  &__work-title {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 4px;
  }

  &__writer {
    font-size: 14px;
    margin-left: 24px;
  }

  &__link {
    @extend %link;
  }
}

.icon {
  @include square(100px);
  border-radius: 50%;
  overflow: hidden;
}

.scroll-area {
  height: 100%;
  position: relative;
  overflow: hidden;

  &__wrap {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  &__bar {
    @include centerize($left: auto, $top: 100px, $bottom: 100px);

    width: 8px;
    background-color: #ddd;
    border-radius: 3px;
    height: auto;
    overflow: hidden;
  }

  &__grip {
    width: 100%;
    background-color: #888;
    border-radius: 3px;
    min-height: 8px;
  }
}